
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.main{
  width: 100%;
  height: 1000px;
}
div
{
  box-sizing: border-box;
}
.logoText {
  margin-left: 30px;
}
.hotSearch{
  position: relative;
  display: inline-block;
  width:14.5%;
  height:1000px;
  padding-top: 5px;

}

@media (max-width: 800px) {
  .searchList {
    display: none;
  }
  .hotSearch {
    width: 100%;
    height: 100px;
  }
  .mainContainer{
    float: none;
  }
  .effect{
    width: 100%;
  }
  .mainCalendar{
    width: 100%;
  }
  #timer{
    font-size:3vw;
  }

}
@media (min-width: 800px) {

  .mainContainer{
    float: right;
  }
  .effect{
    width: 50%;
  }
  .mainCalendar{
    width: 48.5%;
  }
  #timer{
    font-size:1.2vw;
  }
}


.hotSearch >.searchList> h3{
  font-size: 1.5rem;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 15px;
}
.header__right > li{
  cursor: pointer;
}
.hotSearch > .searchList > .search-results > li {
  padding-left: 15px;
  margin: 40px 0 40px 0;
  font-size: 1rem;
}
.weatherComponents{
  width: 100%;
  height: 100px;
  display: inline-block;
  min-height: 51px;
  padding-bottom: 10px;
  border-radius: 4px;
  box-sizing: border-box;

}
.searchList{
  position: relative;
  margin-top: 5px;
  min-height: 51px;
  height: 830px;
  box-sizing: border-box;

}
.searchList  img{
  margin-left: 5px;
  margin-top: 10px;
  width: 20%;
}
#Searchtitle{
  position: absolute;
  font-size: 2vw;
  right: 0;
  margin-left: 10px;
  margin-top: 25px;
  vertical-align: top;
  display: inline-block;
}
.searchContainer{
  position: relative;
  padding-bottom: 20px;
}
#timer{

  marginBottom:20px;
  position:absolute;
  top:30%;
  right:5%;
}
.weatheritem > li{
  font-size:1.2vw;
  marginBottom:20px;
  position:absolute;
}
.weatherComponents > div > img{
  width: 50px;
  height: 50px;
}

.weatherComponents li{
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}

.mainContainer{
  width: 85%;
  min-width:580px;
  height:1000px;
  margin-top: 5px;
  min-height: 51px;
  margin-bottom: 10px;
  border-radius: 4px;
  box-sizing: border-box;
}
.container{
  border-radius: 4px;
  margin-right: 10px;
  box-sizing: border-box;
}
.container > div{

  border-radius: 4px;
}

.container > div > img:nth-child(1){
  width: 7%;
  margin-top: -2%;
  margin-bottom: -2%;
}
.imgCon{
  border-radius: 4px;
}
.effect > div > img:nth-child(1){
  margin-left: 5px;
  width: 10%;
}
.btnmove{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%)
}


.button-container {
  text-align: center;
}

.prev-button, .next-button {
  padding: 10px 20px; /* 내용 영역의 여백 */
  border: none; /* 테두리 없음 */
  cursor: pointer; /* 포인터 커서 표시 */
  margin: 5px; /* 버튼 사이의 여백 */
  border-radius: 5px; /* 둥근 모서리 */
  font-size: 16px; /* 텍스트 크기 */
  transition: background-color 0.3s; /* 배경 색상 변경 애니메이션 */

  /* 버튼 호버 시 배경 색상 변경 */
  &:hover {
    background-color: #0056b3;
  }
}


/* Optional: 버튼 크기 조정 */
@media (max-width: 768px) {
  .prev-button, .next-button {
    padding: 8px 16px;
    font-size: 14px;
  }
}
.scene {
  width: 100%;
  height: 40vh;
  perspective: 500px;
  border-radius: 4px;
  overflow: hidden;
}

.carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
}
.effect{
  position: relative;

  height: 53.5%;
  border-radius: 4px;
  margin-top: 10px;
  box-sizing: border-box;
  float: left;
}

.carousel__cell {
  position: absolute;
  width: 35%;
  height: 40vh;
  left: 40%;
  top: 10px;
  min-height: 51px;
  margin-bottom: 5px;

}
.carousel__cell > a > h1{
  text-align: center;
  font-size: 1.8vw;
}
.carousel__cell > span{
  text-align: center;
}
.carousel__cell > img {
  width: 100%;
  object-fit: cover;
}


.carousel__cell:nth-child(1) { transform: rotateY( 40deg) translateZ(500px); }
.carousel__cell:nth-child(2) { transform: rotateY( 80deg) translateZ(500px); }
.carousel__cell:nth-child(3) { transform: rotateY(120deg) translateZ(500px); }
.carousel__cell:nth-child(4) { transform: rotateY(160deg) translateZ(500px); }
.carousel__cell:nth-child(5) { transform: rotateY(200deg) translateZ(500px); }
.carousel__cell:nth-child(6) { transform: rotateY(240deg) translateZ(500px); }
.carousel__cell:nth-child(7) { transform: rotateY(280deg) translateZ(500px); }
.carousel__cell:nth-child(8) { transform: rotateY(320deg) translateZ(500px); }
.carousel__cell:nth-child(9) { transform: rotateY(360deg) translateZ(500px); }


.mainCalendar{
  display: inline-block;
  float: left;
  border-radius: 4px;
  margin-right: 10px;
  margin-top: 10px;
  height: 53.5%;
  box-sizing: border-box;
}



.mainCalendar > div{
  width: 100%;
  height: 11%;
}
.mainCalendar > div > img{
  margin-bottom: 10px;
  height: 100%;
}
/* Footer 스타일 */
footer {
  background-color: #333; /* 배경색 지정 */
  color: #fff; /* 텍스트 색상을 흰색으로 지정 */
  padding: 20px; /* 안쪽 여백 추가 */
  text-align: center; /* 텍스트 가운데 정렬 */
}

/* 링크 스타일 */
footer a {
  color: #03e9f4; /* 링크 색상을 밝은 파란색으로 지정 */
  text-decoration: none; /* 밑줄 제거 */
  margin: 10px; /* 각 링크 사이에 간격 추가 */
  display: block; /* 링크를 블록 요소로 변환하여 간격 적용 */
}

/* 링크에 마우스를 올렸을 때 스타일 변경 */
footer a:hover {
  text-decoration: underline; /* 밑줄 표시 */
  font-weight: bold; /* 굵게 표시 */
}

/* 주소 스타일 */
footer address {
  font-style: normal; /* 기울임체 스타일 제거 */
  margin-top: 20px; /* 주소 위에 간격 추가 */
}

/* 이모지 스타일 */
footer p::before {
  content: '👉 '; /* 링크 앞에 이모지 추가 */
}
.Modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/* modal창 */
.modalBody {
  position: absolute;
  width: 300px;
  height: auto;
  padding: 40px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
}

#modalCloseBtn {
  position: absolute;
  top: 15px;
  right: 15px;
  border: none;
  color: rgba(0, 0, 0, 0.7);
  background-color: transparent;
  font-size: 20px;
}

#modalCloseBtn:hover {
  cursor: pointer;

}

.signup-container {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  text-align: center;
  color: black;
}

.form-group {
  margin: 10px 0;
}

label {
  display: block;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;

}

.signup-button {
  background: #0074cc;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.changeCalendar{
  float: left;
  padding: 10px 20px; /* 내용 영역의 여백 */
  border: none; /* 테두리 없음 */
  cursor: pointer; /* 포인터 커서 표시 */
  margin: 5px; /* 버튼 사이의 여백 */
  border-radius: 5px; /* 둥근 모서리 */
  font-size: 16px; /* 텍스트 크기 */
  transition: background-color 0.3s; /* 배경 색상 변경 애니메이션 */

}
.listModalBody{
  position: absolute;
  min-width: 500px;
  width: 50%;
  height: auto;
  padding: 40px;
  text-align: center;
  border-radius: 10px;
  background-color: grey;
}
.list-table{
  color: black;
  width: 100%;
}
.list-table th, .list-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.list-table th {
  background-color: #f2f2f2;
}